* {
  margin: 0;
  padding: 0;
}
.wrap {
  position: relative;
  width: 100wh;
  height: 100vh;
}
.wrap .search {
  position: absolute;
  width: 324px;
  height: 45px;
  right: 375px;
  top: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.3);
  overflow: hidden;
}
.wrap .search .search-left {
  float: left;
  width: 269px;
  height: 45px;
}
.wrap .search .search-left .search-left-wrap {
  float: left;
  padding: 7px;
  width: 200px;
}
.wrap .search .search-left .search-left-wrap input {
  width: 178px;
  height: 30px;
  border: none;
  line-height: 27px;
  border-right: solid 1px #cccccc;
  padding: 0 14px;
  outline: none;
  color: #d3d3d3;
  font-size: 12px;
}
.wrap .search .search-right {
  float: left;
  width: 55px;
  height: 45px;
  background-color: #50bbfb;
}
.wrap .search .search-right .search-logo {
  width: 55px;
  height: 45px;
  background: url("../img/search.png") no-repeat 19px 12px;
}
.wrap .tool {
  position: absolute;
  width: 225px;
  height: 23px;
  right: 100px;
  top: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.3);
  padding: 11px 0;
}
.wrap .tool > div {
  width: 74px;
  height: 23px;
  float: left;
  border-right: dashed 1px #7c8196;
  text-align: center;
  line-height: 23px;
  font-weight: 500;
  color: #7c8196;
  font-size: 12px;
}
.wrap .tool > div:hover {
  color: #50bbfb;
}
.wrap .tool .satellite::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/satellite.png") no-repeat;
  vertical-align: -3px;
}
.wrap .tool .satellite:hover::before {
  background: url("../img/satellite-hide.png") no-repeat;
}
.wrap .tool .rangefinder::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/rangefinder.png") no-repeat;
  vertical-align: -3px;
}
.wrap .tool .rangefinder:hover::before {
  background: url("../img/rangefinder-hide.png") no-repeat;
}
.wrap .tool .quick {
  border: none;
  width: 74px;
  overflow: hidden;
  height: 23px;
}
.wrap .tool .quick:hover {
  height: auto;
}
.wrap .tool .quick:hover .title::before {
  background: url("../img/quick-hide.png") no-repeat;
}
.wrap .tool .quick .title::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/quick.png") no-repeat;
  vertical-align: -3px;
}
.wrap .tool .quick .menu {
  width: 74px;
  background-color: #ffffff;
  padding: 7px 0;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 5px 15px 15px rgba(51, 51, 51, 0.3);
}
.wrap .tool .quick .menu > div {
  width: 74px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  background-color: #ffffff;
}
.wrap .tool .quick .menu a {
  text-decoration: none;
  color: inherit;
  color: #7c8196;
}
.wrap .tool .quick .menu a:hover {
  color: #50bbfb;
}
.wrap .retrieval {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: tb-rl;
  font-size: 12px;
  font-weight: 500;
  width: 36px;
  height: 81px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 15px rgba(51, 51, 51, 0.3);
  cursor: pointer;
}
.wrap .retrieval span {
  padding: 10px 0px;
}
.wrap .retrieval span:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 24px;
  vertical-align: 6px;
  font-size: 12px;
}
.wrap .retrieval.retrieval-show {
  color: #7c8196;
  background-color: #ffffff;
}
.wrap .retrieval.retrieval-show span:before {
  background: url("../img/retrieval.png") -8px -4px;
}
.wrap .retrieval.retrieval-hide {
  color: #ffffff;
  background-color: #50bbfb;
}
.wrap .retrieval.retrieval-hide span:before {
  background: url("../img/retrieval-hide.png") -8px -4px;
}
.wrap .retrievalBox {
  position: absolute;
  right: 77px;
  top: 50%;
  width: 375px;
  height: 596px;
  background-color: #ffffff;
  transform: translateY(-50%);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 15px rgba(51, 51, 51, 0.3);
  overflow: hidden;
}
.wrap .retrievalBox .retrievalBox-title {
  overflow: hidden;
  width: 315px;
  height: 47px;
  background-color: #50bbfb;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.wrap .retrievalBox .retrievalBox-title span {
  float: left;
  line-height: 47px;
}
.wrap .retrievalBox .retrievalBox-title span:nth-of-type(2) {
  float: right;
}
.wrap .retrievalBox .retrievalBox-content {
  width: 315px;
  height: 549px;
  padding: 0 30px;
  font-size: 14px;
}
.wrap .retrievalBox .retrievalBox-content p {
  color: #666666;
  height: 48px;
  line-height: 48px;
}
.wrap .retrievalBox .retrievalBox-content p.disasterType span {
  color: #999999;
  display: inline-block;
  width: 94px;
  text-align: right;
}
.wrap .retrievalBox .retrievalBox-content p.disasterType span:first-of-type {
  width: 56px;
}
.wrap .retrievalBox .retrievalBox-content p.disasterType span a:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 14px;
  margin-right: -5px;
  vertical-align: -2px;
  background: 100% url("../img/check.png") no-repeat;
}
.wrap .retrievalBox .retrievalBox-content p.areaStreet {
  margin-top: 10px;
}
.wrap .retrievalBox .retrievalBox-content p.areaStreet select {
  margin-left: 15px;
  width: 225px;
  height: 30px;
  border-radius: 3px;
  border: solid #d3d3d3 1px;
}
.wrap .retrievalBox .retrievalBox-content .button {
  width: 315px;
  height: 43px;
  background-color: #50bbfb;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
}
.wrap .retrievalBox .retrievalBox-content .status span {
  font-size: 12px;
  font-weight: 500;
  margin-right: 30px;
}
.wrap .retrievalBox .retrievalBox-content .status span:first-of-type {
  color: #ff0000;
}
.wrap .retrievalBox .retrievalBox-content .status span:nth-of-type(2) {
  color: #fa9d0a;
}
.wrap .retrievalBox .retrievalBox-content .status span:nth-of-type(3) {
  color: #0aa2fa;
}
.wrap .retrievalBox .retrievalBox-content table {
  width: 100%;
}
.wrap .retrievalBox .retrievalBox-content table thead {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
}
.wrap .retrievalBox .retrievalBox-content table thead tr {
  line-height: 31px;
}
.wrap .retrievalBox .retrievalBox-content table thead tr td:last-of-type {
  text-align: right;
}
.wrap .retrievalBox .retrievalBox-content table tbody {
  padding-top: 24px;
}
.wrap .retrievalBox .retrievalBox-content table tbody tr {
  line-height: 26px;
}
.wrap .retrievalBox .retrievalBox-content table tbody tr td:last-of-type {
  text-align: right;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0px;
}
#loadingTip {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 3px 10px;
  background: red;
  color: #fff;
  font-size: 14px;
}
