* {
  margin: 0;
  padding: 0;
}
.wrap {
  position: relative;
  width: 100wh;
  height: 100vh;
}
.wrap .search {
  position: absolute;
  width: 324px;
  height: 45px;
  right: 375px;
  top: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.3);
  overflow: hidden;
}
.wrap .search .search-left {
  float: left;
  width: 269px;
  height: 45px;
}
.wrap .search .search-left .search-left-wrap {
  float: left;
  padding: 7px;
  width: 200px;
}
.wrap .search .search-left .search-left-wrap input {
  width: 178px;
  height: 30px;
  border: none;
  line-height: 27px;
  border-right: solid 1px #cccccc;
  padding: 0 14px;
  outline: none;
  color: #d3d3d3;
  font-size: 12px;
}
.wrap .search .search-left .navigation {
  float: left;
  width: 55px;
  height: 45px;
  margin-right: -5px;
  background: url("../img/navigation.png") no-repeat 19px 10px;
}
.wrap .search .search-right {
  float: left;
  width: 55px;
  height: 45px;
  background-color: #50bbfb;
}
.wrap .search .search-right .search-logo {
  width: 55px;
  height: 45px;
  background: url("../img/search.png") no-repeat 19px 12px;
}
.wrap .tool {
  position: absolute;
  width: 225px;
  height: 23px;
  right: 100px;
  top: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.3);
  padding: 11px 0;
}
.wrap .tool > div {
  width: 74px;
  height: 23px;
  float: left;
  border-right: dashed 1px #7c8196;
  text-align: center;
  line-height: 23px;
  font-weight: 500;
  color: #7c8196;
  font-size: 12px;
}
.wrap .tool > div:hover {
  color: #50bbfb;
}
.wrap .tool .satellite::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/satellite.png") no-repeat;
  vertical-align: -3px;
}
.wrap .tool .satellite:hover::before {
  background: url("../img/satellite-hide.png") no-repeat;
}
.wrap .tool .rangefinder::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/rangefinder.png") no-repeat;
  vertical-align: -3px;
}
.wrap .tool .rangefinder:hover::before {
  background: url("../img/rangefinder-hide.png") no-repeat;
}
.wrap .tool .quick {
  border: none;
  width: 74px;
  overflow: hidden;
  height: 23px;
}
.wrap .tool .quick:hover {
  height: auto;
}
.wrap .tool .quick:hover .title::before {
  background: url("../img/quick-hide.png") no-repeat;
}
.wrap .tool .quick .title::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/quick.png") no-repeat;
  vertical-align: -3px;
}
.wrap .tool .quick .menu {
  width: 74px;
  background-color: #ffffff;
  padding: 7px 0;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 5px 15px 15px rgba(51, 51, 51, 0.3);
}
.wrap .tool .quick .menu > div {
  width: 74px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  background-color: #ffffff;
}
.wrap .tool .quick .menu a {
  text-decoration: none;
  color: inherit;
  color: #7c8196;
}
.wrap .tool .quick .menu a:hover {
  color: #50bbfb;
}
.wrap .retrieval {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  padding: 25px 10px;
  writing-mode: tb-rl;
  cursor: pointer;
}
.wrap .retrievalBox {
  display: none;
  position: absolute;
  right: 80px;
  top: 30px;
  width: 400px;
  height: 600px;
  background-color: #ffffff;
}
.wrap .retrievalBox .title {
  overflow: hidden;
}
.wrap .retrievalBox .title span {
  float: left;
}
.wrap .retrievalBox .title span:nth-of-type(2) {
  float: right;
}
