<html lang="en">

<!-- <head> -->
<link rel="stylesheet" href="../view/css/message.css">
<!-- </head> -->

<body>
    <div id="msgWrap_list" class="msgWrap-list">
        <header>
            <div>消息中心<span id="closeList"></span></div>

        </header>
        <section>
            <ul id="msgSection">
            </ul>
        </section>
    </div>
    <div id="msgWrap_details" class="msgWrap-details">
        <header>
            <div><span id="msgDetails_title"></span><span id="closeDetails"></span></div>
        </header>
        <section>
            <p id="msgDetails_content"></p>
            <p><span id="msgDetails_publisher"></span><span id="msgDetails_time"></span></p>
        </section>
    </div>
    <script src="view/js/message.js"></script>
</body>

</html>