
<html lang="en">

<!-- <head> -->
    <link rel="stylesheet" href="view/css/table.css">
<!-- </head> -->

<body>
    <div class="tableList-header">
        <span>图表列表</span>
        <span id="close2"><img src="img/close.png" alt=""></span>
    </div>
    <div class="tableList-content">
        <table>
            <thead>
                <tr>
                    <td>序号</td>
                    <td>图表名称</td>
                </tr>
            </thead>
            <tbody id="tableListHtml">
                
            </tbody>
        </table>
    </div>
    <script src="view/js/table.js"></script>
</body>

</html>