<html lang="en">

<!-- <head> -->
<link rel="stylesheet" href="view/css/toolsPage.css">
<!-- </head> -->

<body>
    <div id="toolsPage" class="toolsPage-list">
        <header>
            <div>工具<span id="closeList"></span></div>

        </header>
        <section>
            
            <table>
                <thead>
                    <tr>
                        <th>单位</th>
                        <th>1姓名</th>
                        <th>手机号</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>罗湖区区武装部</td>
                        <td>罗湖区区武装部</td>
                        <td>罗湖区区武装部</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <script src="view/js/toolsPage.js"></script>
</body>

</html>