<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/view/css/zxfbt.css">

<div class="wrapTable">
    <header>
        全市灾害点分布图
        <span class="closeTable">
            <img src="/img/close.png" alt="">
        </span>
    </header>
    <section>
        <div class="map">
            <div class="inner">
                <img src="/img/zxfbt.png" alt="">
            </div>
        </div>
        <div class="table">
            <div class="pc">
                <header>
                    <h1></h1>
                    <h2>灾险情统计表</h2>
                </header>
                <section>
                    <menu>
                        <h3 id="titlePc">灾险情统计表</h3>
                        <select id="particularYear" data-edit-select="1">
                        </select>
                        <select name="" id="quarter">
                            <option data-id="0" value="全年">全年</option>
                            <option data-id="1" value="第一季度">第一季度</option>
                            <option data-id="2" value="第二季度">第二季度</option>
                            <option data-id="3" value="第三季度">第三季度</option>
                            <option data-id="4" value="第四季度">第四季度</option>
                        </select>
                        <input id="search" class="search" type="button" value="查询">
                    </menu>
                    <table border="1" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <td rowspan="2">序号</td>
                                <td rowspan="2">行政区</td>
                                <td rowspan="2">灾险情数量</td>
                                <td colspan="4" class="hidden-danger-grade">隐患等级</td>
                            </tr>
                            <tr>
                                <td>隐患Ⅰ级</td>
                                <td>隐患Ⅱ级</td>
                                <td>隐患Ⅲ级</td>
                                <td>隐患Ⅳ级</td>
                            </tr>
                        </thead>
                        <tbody id="tbodyHtml">

                        </tbody>
                    </table>
                    <p class="sum">共查询到0条灾险情</p>
                    <p id="timer">截至3月31日</p>
                </section>
            </div>
        </div>
    </section>
</div>
<script src="/view/js/zxfbt.js"></script>