<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>table</title>
    <link rel="stylesheet" href="css/tableDiv.css">
</head>

<body>
    <div class="wrap">
        <h1>地面坍塌事故（隐患）现场信息采集表</h1>
        <p class="duty">报送单位：<input type="text"></p>
        <table width="100%" border="1">
            <tbody>
                <tr>
                    <td>坍塌名称</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>发生时间</td>
                    <td>
                        <input class="w20" type="text" name="" id="">年
                        <input class="w20" type="text" name="" id="">月
                        <input class="w20" type="text" name="" id="">日
                        <input class="w20" type="text" name="" id="">时
                    </td>
                </tr>
                <tr>
                    <td>项目地点</td>
                    <td>
                        <input class="w20" type="text">区
                        <input class="w20" type="text">街道
                        <input class="w20" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        坍塌规模
                    </td>
                    <td>
                        <table class="tanta" border="0" width="100%" style="border:none;">
                            <tr>

                                <td>长<input class="w20" type="text">m</td>
                                <td>面积<input class="w20" type="text">m2</td>
                                <td class="gmyh" rowspan="3">规模隐患</td>
                                <td>长<input class="w20" type="text">m</td>
                                <td>面积<input class="w20" type="text">m2</td>

                            </tr>
                            <tr>
                                <td colspan="2">宽<input class="w20" type="text">m</td>
                                <td colspan="2">宽<input class="w20" type="text">m</td>
                            </tr>
                            <tr>
                                <td colspan="2">深<input class="w20" type="text">m</td>
                                <td colspan="2">深<input class="w20" type="text">m</td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>隐患等级</td>
                    <td>
                        <input type="checkbox" name="" id="">一般（Ⅳ级）、
                        <input type="checkbox" name="" id="">较大（Ⅲ级）、
                        <input type="checkbox" name="" id="">重大（Ⅱ级）、
                        <input type="checkbox" name="" id="">特别重大（Ⅰ级）
                    </td>
                </tr>
                <tr>
                    <td>坍塌危害</td>
                    <td>
                        <table border="0" width="100%" style="border:none;">
                            <tr>
                                <td>财务损失
                                    <input type="checkbox" name="" id="">有
                                    <input type="checkbox" name="" id="">无
                                </td>
                                <td colspan="2">损失情况<input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>人员伤亡
                                    <input type="checkbox" name="" id="">有
                                    <input type="checkbox" name="" id="">无
                                </td>
                                <td>受伤人数<input type="text">人</td>
                                <td>死亡人数<input type="text">人</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>引发因素</td>
                    <td>
                        <table border="0" width="100%" style="border:none;">
                            <tr>
                                <td>
                                    <input type="checkbox" name="" id=""> 暗渠化河道、
                                    <input type="checkbox" name="" id=""> 给水管道、
                                    <input type="checkbox" name="" id=""> 排水管道、
                                    <input type="checkbox" name="" id=""> 排污管道、
                                    <input type="checkbox" name="" id=""> 地下空洞、
                                    <input type="checkbox" name="" id=""> 深基坑、
                                    <input type="checkbox" name="" id=""> 软土沉降、
                                    <input type="checkbox" name="" id=""> 工程质量、
                                    <input type="checkbox" name="" id=""> 地下轨道交通及施工、
                                    <input type="checkbox" name="" id=""> 电力管线、
                                    <input type="checkbox" name="" id=""> 通讯管线、
                                    <input type="checkbox" name="" id=""> 燃气管线、
                                    <input type="checkbox" name="" id=""> 其他因素
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    埋深<input class="w20" type="text">m, 宽
                                    <input class="w20" type="text">m, 高
                                    <input class="w20" type="text">m
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>处置方式</td>
                    <td>
                        <input type="checkbox" name="" id=""> 竖立警示牌
                        <input type="checkbox" name="" id=""> 封锁危险区域
                        <input type="checkbox" name="" id=""> 限行人员及车辆
                        <input type="checkbox" name="" id=""> 控制危险源
                        <input type="checkbox" name="" id=""> 其他

                    </td>
                </tr>
                <tr>
                    <td>坍塌原因及应急过程</td>
                    <td>
                        <textarea name="txt" rows="5" warp="virtual"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>抢险部门</td>
                    <td>
                        <input type="checkbox" name="" id=""> 市交委
                        <input type="checkbox" name="" id=""> 市轨道办
                        <input type="checkbox" name="" id=""> 市水务局
                        <input type="checkbox" name="" id=""> 市住房建设局
                        <input type="checkbox" name="" id=""> 各区政府（新区管委会）
                        <input type="checkbox" name="" id=""> 市水务集团
                        <input type="checkbox" name="" id=""> 地铁集团
                        <input type="checkbox" name="" id=""> 燃气集团
                        <input type="checkbox" name="" id=""> 供电局
                        <input type="checkbox" name="" id=""> 其他
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td>附照片（现场坍塌情况、处置过程）</td>
                </tr>
            </tbody>
        </table>
        <p>
            <span>报送人：<input type="text" name="" id=""></span>
            <span style="float:right">联系电话：<input type="text" name="" id=""></span>
        </p>
        <p>
            <div id="easyContainer"></div>
        </p>
    </div>
    <link rel="stylesheet" href="css/easy-upload.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="js/jquery.cookie-1.4.1.min.js"></script>
    <script src="js/easyUpload.js"></script>
    <script>
        $('#easyContainer').easyUpload({
            allowFileTypes: '*',//允许上传文件类型，格式';*.doc;*.pdf'
            allowFileSize: 100000,//允许上传文件大小(KB)
            selectText: '选择文件',//选择文件按钮文案
            multi: true,//是否允许多文件上传
            multiNum: 5,//多文件上传时允许的文件数
            showNote: true,//是否展示文件上传说明
            note: '提示：最多上传5个文件，支持格式为doc、pdf、jpg、html',//文件上传说明
            showPreview: true,//是否显示文件预览
            url: '/api/file/upload',//上传文件地址
            fileName: 'file',//文件filename配置参数
            formParam: {
                token: $.cookie('token_cookie')//不需要验证token时可以去掉
            },//文件filename以外的配置参数，格式：{key1:value1,key2:value2}
            timeout: 30000,//请求超时时间
            okCode: 200,//与后端返回数据code值一致时执行成功回调，不配置默认200
            successFunc: function (res) {
                console.log('成功回调', res);
            },//上传成功回调函数
            errorFunc: function (res) {
                console.log('失败回调', res);
            },//上传失败回调函数
            deleteFunc: function (res) {
                console.log('删除回调', res);
            }//删除文件回调函数
        });
    </script>
</body>

</html>